.full-page-content-container a, .light-content-block h1 {
    color: var(--contrast-color-3);
}

.light-content-block {
    padding: 3rem 5rem; 
    width: 100vw;
}

.content-text {
    line-height: 2rem;
    margin: 2rem 0;
    max-width: 1500px;
}

li {
    line-height: 2rem;
}

#all-open-positions h3, #all-open-positions p, h2, a {
    display: inline-block;
    letter-spacing: normal;
    margin: 0.5rem;
    word-break: break-word;
}

@media only screen and (max-width: 600px) {
    .light-content-block {
        padding: 2rem;
    }
}