.full-page-content-container a, .light-content-block h1 {
    color: var(--contrast-color-3);
}

.light-content-block {
    width: 100%;
}

.content-text {
    font-size: 1.5rem;
    line-height: 4rem;
    margin: 1rem;
}