#profiles-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 2rem 0;
    position: relative; 
}

.people-card, .alumni-card {
    background: rgb(21, 21, 21);
    box-shadow: 0 10px 25px 5px rgb(21, 21, 21,0.25);
    display: inline-block;
    margin: 20px;
    padding-bottom: 1rem;
    position: relative;
    text-align: center;
}

.people-card {
    min-height: 300px;
    width: 300px;
}

.alumni-card {
    height: auto;
    min-height: 100px;
    width: 300px;
}

.current-people, .alumni {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.alumni h1 {
    width: 100%;
}

.card-topper {
    background-color: var(--contrast-color-2);
    height: 50px;
    position: absolute; 
    width: 100%;
}

i {
    color: var(--contrast-color-3);
}

.profile-img-container {
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(21, 21, 21);
    height: 100px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.profile-img-container img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.name {
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    text-align: center;
    width: inherit;
}

.name h3 {
    letter-spacing: normal;
}

.titles {
    color: white;
    padding: 0 10px;
    position: relative;
    text-align: center;
}

.titles p {
    font-size: small;
    line-height: normal;
}
