#profiles-container {
    position: relative; 
    flex-direction: column;
    padding: 0 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
}
.people-card, .alumni-card {
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    background: #151515;
    display: inline-block;
    position: relative;
    margin: 20px;
    text-align: center;
    padding-bottom: 1rem;
}
.people-card {
    min-height: 300px;
    width: 300px;
}
.alumni-card {
    min-height: 100px;
    height: auto;
    width: 300px;
}
.current-people, .alumni {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.alumni h1 {
    width: 100%;
}
.card-topper {
    width: 100%;
    position: absolute; 
    height: 50px;
    background-color: rgb(82, 113, 255);
}
i {
    color: rgb(82, 113, 255);
}
.profile-img-container {
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 0 0 5px #151515;
}
.profile-img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.name {
    position: relative;
    margin: auto;
    /* top: 100px; */
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    /* height: 40px; */
    text-align: center;
}
.name h3 {

    letter-spacing: normal;
}
.titles {
    position: relative;
    padding: 0 10px;
    color: white;
    text-align: center;
  
}
.titles p {
    font-size: small;
    line-height: normal;
}
