.light-content-block {
    width: 100%;
}

.light-content-block h1 {
    color: white;
}

#research-acordion-menu {
    margin: auto;
    padding: 1rem;
    width: auto;
}

.acordion-content {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    column-gap: 10px;
    display: flex;
    font-weight: 200;
    line-height: 2rem;
    overflow: hidden;
    padding: 2em;
}

details {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.2);
    font-size: smaller;
    margin: auto;
    max-width: 1500px;
    overflow: hidden;
    padding:1em;
    transition: max-height 0.25s ease;
}

details:not([open]) {
    max-height: 20rem;
}

details[open] {
    max-height: 500rem;
}

details:nth-child(3n + 1) > summary {
    background-color: var(--contrast-color-1); 
}

details:nth-child(3n + 2) > summary{
    background: var(--contrast-color-2); 
}

details:nth-child(3n + 3) > summary {
    background: var(--contrast-color-3); 
}

summary {
    box-shadow: none;
    color:white;
    cursor: pointer;
    list-style: none;
    padding: 2em;
    position: relative;
}

summary::-webkit-details-marker {
    display: none; 
}

summary:before {
    border: 15px solid transparent;
    border-left: 20px solid white;
    content: "";
    display: inline-block;
    transform-origin: .2rem 50%;
    transform: rotate(0);
    transition: .25s transform ease;
}

details[open] > summary:before {
    transform: rotate(90deg);
}

summary h1 {
    color: white;
    display: inline-block;
    margin: 0;
}

.acordion-content a {
    color: var(--contrast-color-3); ;
    white-space: nowrap;
}

details img {
    margin: auto;
    max-height: 600px;
    max-width: 600px;
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .acordion-content {
        display: block;
        word-break: break-all;
    }
    a {
        word-break: break-all;
    }
    details img {
        min-width: 300px;
        width: 100%;
    }
}